.body {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: #121212;
}

.daysButtons{
    display: flex;
}

@media (max-width: 720px){
    .body{
        width: 100%;
        margin: 0 auto;
        margin-top: 10%;
        height: 100vh;
    }
    .daysButtons{
        display: flex;
        flex-direction: row;
        margin: 2%;
    }
}